affine==3.0.1
attrs==26.1.0
certifi==2026.7.22
click==8.5.0
click-plugins==1.1.1.2
cligj==0.7.2
contourpy==1.3.3
cycler==0.12.1
fonttools==4.66.1
iniconfig==2.3.0
kiwisolver==1.5.1
llvmlite==0.50.0
matplotlib==3.11.2
numba==0.68.0
numpy==2.4.6
packaging==26.3
pillow==12.3.0
pluggy==1.6.0
pygments==2.21.0
pyparsing==3.3.3
pyproj==3.7.2
pytest==9.1.1
python-dateutil==2.9.0.post0
pyyaml==6.0.3
rasterio==1.4.4
scipy==1.17.1
six==1.17.0
